<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invaders game</title>
    <meta name="description" content="Invaders game made by jesus bossa" />

    <meta property="og:url" content="https://invaders.jesusbossa.dev/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Invaders game" />
    <meta property="og:description" content="Invaders game made by jesus bossa" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="invaders.jesusbossa.dev" />
    <meta property="twitter:url" content="https://invaders.jesusbossa.dev/" />
    <meta name="twitter:title" content="Invaders game" />
    <meta name="twitter:description" content="Invaders game made by jesus bossa" />

    <script src="https://kit.fontawesome.com/307e2eecdc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <section>
        <div>
          <span>Invaders game</span>
        </div>
        <div>
          <a target="_blank" href="https://jesusbossa.dev">
            <i class="fas fa-home"></i>
          </a>
          <a target="_blank" href="https://twitter.com/jesMakinox">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/makinox">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </section>
    </nav>
    <section class="flex justify-center items-center flex-col" id="canva">
      <div>
        <canvas id="invaders-canvas" />
      </div>
    </section>

    <section class="flex flex-col items-center" id="info">
      <span> Move with directional keys or A | D keys </span>
      <span> Fire with space bar </span>
    </section>
  </body>
</html>
